<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
  <style type="text/css">
    body {
      margin-top: 2em;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
      <h1>All Comments</h1>
      <table>
        <thead>
          <th>Comment</th>
          <th>Product</th>
        </thead>
        <tbody>
            <% @products.each { |product| %>
            <tr>
              <td><% product.comments.each { |text| %>
                  <%= text.comment %>
                <% } %></td>
              <td><%= product.name %></td>
            </tr>
          <% } %>
        </tbody>
        </table>
      </div>
    </div>
  </div>

</body>
</html>